<div class="yamuna_container">
  <div class="container">
    <div class="row header">
      <div class="col-md-2 col-xs-3">
        <img src="assets/volksWeganLogo.jpg" alt="logo" class="logo"/>
      </div>
      <div class="col-md-5 col-xs-9">
        <span class="header_title"><b>Booking & Inquiry Online Service</b></span>
      </div>
      <div class="input_search">
        <div class="col-md-3 col-xs-8">
          <input type="text" placeholder="Enter VIN to search inquiries"/>
        </div>
        <div class="col-md-2 col-xs-4">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> 
                <span class="inquiries">Inquiries</span>
            </button>
        </div>
      </div>
    </div>
    <div class="row body_container">
      <div class="col-md-12">
        <div class="row vin_search ">
            <div class="col-md-offset-3 col-md-1 col-xs-2 col-xs-offset-0">
                <span>VIN</span>
            </div>
            <div class="col-md-3 col-xs-10">
                <input type="text" class="vin_input"/><br/>
                <span class="vin_input_text">(VIN number should be 17 characters.)</span>
            </div>
            <div class="col-md-2 col-scol-xs-12">
                <button type="button" class="btn btn-default search_button">
                    <span class="glyphicon glyphicon-search"></span> 
                    <span class="inquiries">Search</span>
                </button>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hr/>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <span class="packages"><b>Packages</b></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="table-responsive table-fixed">
              <table class="table packages_table">
                  <tbody>
                    <ng-container *ngFor="let packageObj of packagesArray">
                      <tr>
                        <td class="checkbox_td"><input type="checkbox" name="check" id="check"></td>
                        <td (click)="packageObj.expand = !packageObj.expand">{{packageObj.name}}</td>
                        <td class="align_right" (click)="packageObj.expand = !packageObj.expand"><span class="badge  badge-pill badge-primary rupee_badge">&euro;600</span><i [class]="packageObj.expand ? 'fa fa-sort-up' : 'fa fa-sort-down'"></i></td>
                      </tr>
                      <tr *ngIf="packageObj.expand">
                        <td colspan="3">
                            <div class="expanded_table">
                                <div class="row">
                                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <table class="table table-bordered">
                                        <thead>
                                          <tr>
                                            <th>Price</th>
                                            <th>Description</th>
                                            <th>Spareparts</th>
                                            <th>Labour Positions</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td>$400</td>
                                            <td>
                                              lllllllllssdsldlslsld
                                              sdsdssssssssssssssssssssssssssssssssssssdss
                                            </td>
                                            <td>john@example.com</td>
                                            <td>john@example.com</td>
                                          </tr>
                                        </tbody>
                                  </table>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
          </div>
        </div>
        <div class="row amount_row">
          <div class="col-md-2 col-xs-3">
            <button type="button" class="btn btn-default">Save</button>
          </div>
          <div class="col-md-2 col-md-offset-7 col-xs-offset-3 col-xs-4">
            <span><b>Total amount</b></span>
          </div>
          <div class="col-md-1 col-xs-1">
            <span class="total_amount">&euro;600</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
