.yamuna_container {
    padding-top: 50px;
}
.header_title {
    font-size: 20px;
}
.logo {
    width: 60px;
    height: 60px;
    margin-top: -28px;
}
.inquiries {
    color: blue;
}
.body_container {
    margin-top: 20px;
    /* border: 1px solid black; */
    border-style: inset;
    border-width: 2px;
    height: auto;
    padding: 55px;
}
.vin_search input {
    width: 251px;
}
.header input {
    width: 251px;
}
.vin_input_text {
    font-size: 13px;
    color: #B9B9B9;
}
.packages {
    font-size: 17px;
}

.packages_table .checkbox_td {
    width: 20px;
}
.align_right {
    text-align: right;
}
.expanded_table th {
    background-color: #CFD7DD;
}
.expanded_table .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid black;
}
@media only screen and (max-width: 500px) {
    .input_search .col-xs-8{
        margin-top: 5px;
    }
    .input_search input {
        width: 239px;
    }
    .body_container {
        padding: 10px;
    }
    .search_button {
        width: 100%;
    }
}
.rupee_badge {
    margin-right: 10px;
    background-color: #2274AC;
    padding-left: 10px;
    padding-right: 10px;
}
.vin_input {
    width: 100%;
}
.amount_row {
    background-color: #E0E9F0;
    padding: 13px;
    border-top: 1px solid black;
}
.total_amount {
    color: blue;
}
button {
    box-shadow: 3px 3px #888888;
}